<% provide(:title, 'All users') %>
<%= render 'shared/friend_requests_link' %>
<h1>All users</h1>
<section class="users-section">
  <%= will_paginate %>
  <ul class="users-list">
    <%= render @users %>
  </ul>
  <%= will_paginate %>
</section>
